@font-face {
	font-family: 'noto';
	src: url('../assets/fonts/notosans.ttf');
}

html {
	font-size: 10px;
}

body {
	font-family: 'noto';
	padding: 1rem;
	margin: 0;
	background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h3,
p {
	margin: 0;
}

.extension__nav,
.extension__header > ul > li,
.extensions__card {
	background-color: hsl(200, 60%, 99%);
}

/** ------------ NAV ------------ */
.extension__nav {
	display: flex;
	justify-content: space-between;
	background-color: hsl(200, 60%, 99%);
	padding: 1.5rem;
	border: 0.1rem solid #ccc;
	border-radius: 1rem;
	margin: 1rem;
}

.extension__nav--moon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 78%);
	width: 13%;
	border-radius: 1rem;
}

/** ------------ HEADER ------------ */
.extension__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.extension__header > h1 {
	font-size: 3rem;
}

.extension__header > ul {
	display: flex;
	justify-content: center;
	column-gap: 5%;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.extension__header > ul > li {
	font-size: 1.6rem;
	text-align: center;
	width: 23%;
	padding: 0.75rem 1rem;
	border: 0.1rem solid #ccc;
	border-radius: 2rem;
}

.extension__header > ul > li:first-child {
	width: 15%;
}

.extension__header > ul > li:last-child {
	width: 25%;
}

.extension__header > ul > li:hover {
	background-color: hsl(3, 77%, 44%);
	color: hsl(200, 60%, 99%);
}

/** ------------ CARD ------------ */
.extensions__card {
	border-radius: 1rem;
	width: 100%;
	padding: 1.5rem;
	border: 0.1rem solid #ccc;
}

.extensions__card:first-child {
	margin-top: 4rem;
}

.extensions__card:not(:last-child) {
	margin-bottom: 1.5rem;
}

.extensions__header {
	display: flex;
	column-gap: 5%;
	align-items: flex-start;
}

.extensions__header-content {
	display: inline;
}
.extensions__header-content > p {
	font-size: 1.6rem;
	width: 90%;
	margin: 1rem 0rem;
}

.extensions__header-content > h3 {
	font-size: 2rem;
}

.extensions__toggle-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.extensions__remove {
	width: 30%;
	font-size: 1.6rem;
	text-align: center;
	padding: 0.5rem 1rem;
	border: 0.1rem solid #ccc;
	border-radius: 1.5rem;
	margin-top: 2rem;
}
